body {
    background: #fafafa;
    margin: 0;
}

#info {
  position: absolute;
}

#info {
  width: 800px;
}
#info dt {
  float: left;
  margin: 0;
  width: 20%;
}
#info dd {
  float: left;
  margin: 0;
  width: 80%;
}