body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

#headers {
  padding: 20px;
  position: absolute;
}
#headers h1, #headers h4, #headers h5 {
  margin: 0;
}
#headers h1 {
  color: white;
  margin: 0 0 10px 0;
  text-shadow: 1px 1px #fe4902, 
               2px 2px #fe4902, 
               3px 3px #fe4902, 
               4px 4px #fe4902, 
               5px 5px #fe4902, 
               6px 6px #fe4902;
}

#info {
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  position: absolute;
  top: 40%;
  width: 600px;
}

#info dt {
  float: left;
  margin: 0;
  width: 30%;
}

#info dd {
  float: left;
  margin: 0;
  width: 70%;
}